
/* Your CSS Code here. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
    line-height: 1.5;
    padding: 20px;
}

header, nav, summary, section, aside, footer {
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
}

header {
    background: #202A44;
    text-align: center;
}

nav {
    background: #2F3B66;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

summary {
    background: #394B76;
}
section {
    background: #435A82;
}

blockquote {
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
}

aside {
    background: #2F3B66;
    font-size: 18px;
}

footer {
    background: #202A44;
    text-align: center;
    font-weight: bold;
}